body h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: oxygen;
}

.hero h1 {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin-top: 0.75em;
}

.form-container {
  width: 90%;
  margin: 50px auto;
  margin-top: 25px;
  background-color: #ffffff;
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group.half-width {
  flex: 50%;
}

.form-group.full-width {
  flex: 100%;
}

label {
  margin-bottom: 8px;
  color: #132B42;
}

input, textarea {
  padding: 12px;
  border: none;
  background-color: #eee;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.submit-btn:hover {
  background-color: #45a049;
}

.form .content {
    color: #132B42;
    margin-top: 4em;
}
.form .content h2 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 1em;
}
.form .content p {
    font-size: 20px;
}
.form .content a {
    background: #075E54;
    color: #F5FCED;
    text-decoration: none;
    padding: 10px 60px;
    display: flex;
    width: fit-content;
    gap: 1em;
    border-radius: 15px;
    margin-top: 1.5em;
}
