/* BODY */
body h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: oxygen;
}

body {
  /* background: #F1F1F1 !important; */
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

hr {
  opacity: 1 !important;
  background-color: #5BA62A !important;
  height: 1px !important;
}

/* SECTIONS */
section {
  padding-top: 100px;
}

/* SECTION - ONE */
.section-one {
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 140px;
}

.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}


.hero-section {
  background-image: url('../images/hero.png');
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

/* ADD THIS */
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   /* black shade with 50% opacity */
  z-index: 1;
}

/* Make sure your actual content is above the overlay */
.hero-section > * {
  position: relative;
  z-index: 2;
}

.hero-content {
  text-align: center;
  color: #224B73;
  background: rgba(255, 255, 255, 0.0);
  padding: 20px;
  margin-top: 2.25em;
}

.hero-content h1 {
  font-size: 66px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 24px;
  font-weight: 400;
  color: #224B73;
}
@media (max-width: 991px) {
  .section-one {padding-top: 100px;}
  .hero-section {
    margin-inline: 1em !important;
    align-items: center;
  }
  .hero-section::after {
    background: rgba(12, 42, 9, 0.565);
  }
  .hero-content {margin-top: 0;}
  .hero-content h1 {
    font-size: 30px;
    color: #ffffff;
  }
  .hero-content p {
    font-size: 16px;
    color: #e3f0ff;
  }
}


/* SECTION - TWO */
.section-two {
  padding-top: 50px;
}
.section-two .box {
  border-radius: 50px;
  padding: 4em;
  background: #F5FCED;
  box-shadow: 0px 0px 75px 2px rgba(0,0,0,0.1);
}
.section-two .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  justify-content: center;
  display: flex;
  text-align: center;
  gap: 4em;
}
.section-two .details {
  display: grid;
  justify-items: center;
  gap: 5px;
}
.section-two h1 {
  color: #224B73;
  font-weight: 600;
  margin-top: 10px;
  font-size: 54px;
}
.section-two p {
  font-size: 15px;
  color: #224B73;
}
@media (max-width: 991px) {
  .section-two .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
  }
  .section-two .details img {
    width: 25%;
  }
  .section-two h1 {font-size: 36px;}
  .section-two p {font-size: 20px;}
}




/* SECTION - THREE */
.section-three {
  padding-top: 50px;
}

.section-three .box {
  border-radius: 50px;
  padding: 4em;
  background: #ffffff;
  box-shadow: 0px 0px 75px 2px rgba(0,0,0,0.1);
  margin-bottom: 3.5em;
  display: flex;
  align-items: center;
}

.section-three h1 {
  color: #5BA62A;
  font-weight: bold;
  margin-bottom: 0;
}

.section-three h3 {
  color: #5BA62A;
  font-weight: 300;
  margin-bottom: 1.35em;
}

.section-three p {
  color: #224B73;
  font-size: 18px;
  margin-bottom: 1.25em;
}

.section-three img {
  display: flex;
  margin: auto;
}

.section-three .box-3 {
  display: block;
}
.section-three .box-3 .content {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1.5em;
}

.section-three .core {
  display: flex;
  flex-direction: column;
}

.section-three .core img {
  max-width: 100%;
}

.section-three .core h2 {
  margin-top: 1em;
  color: #224B73;
  font-size: 21px;
}
@media (max-width: 991px) {
  .section-three .box {
    margin-inline: 0.5em;
    padding: 1em;
  }
  .section-three img {width: 100%;}
  .section-three .core h2 {margin: 0; margin-top: 0; font-size: 18px;}
  .section-three h3 {font-size: 18px;}
  .section-three p {font-size: 15px;}
  .section-three .content {display: grid !important;}
  .section-three .core {
    display: flex; 
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
  .section-three .core img {
    max-width: 2em;
    margin: 0;
  }
  .box-3 {
    padding-block: 2em !important;
    padding-bottom: 3em !important;
  }
}